# https://www.howtogeek.com/devops/how-to-set-up-gitignore-as-a-whitelist/

*
!*/

!.gitignore
!*.entitlements
!Makefile

!ScreenTimeTest.xcodeproj/*
!ScreenTimeTest/*
!ScreenTimeTest/**/*.json

!DeviceActivityMonitor/*
!DeviceActivityMonitor/**/*.json
!DeviceActivityMonitor/**/*.plist

